/* http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL　にあるフォントを使用.*/
@font-face {
    font-family: 'Segment7Standard';
    src: url('./Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}