html, body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow: hidden;/*汚くなるのでボックスからはみ出した場合にはその部分は表示しない*/
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background: #000;
  color: white;
}
/*画面の分割を担当*/
#main-wrapper{
  position: absolute;/*画面の主な分割を担うIDなので, 配置は直接決めたいため*/
  height: 100%;
  width: 100%;
  display: flex;/*floatでやるのはつらく, electronはchromiumが動いているのでFlexボックスというレイアウト技法を用いる*/
  flex-flow: row;/* flex-directionプロパティ・ flex-wrapプロパティをまとめて記述. */
  justify-content: space-around;/*Flexアイテム間に等間隔の空白を入れて並べる*/
}

.main-inner{
  position:relative;
  height:100%;
  border:1px solid grey;
  box-sizing: border-box;
}

.vert-wrapper {
  /*垂直に並ぶFlexボックス*/
  display:flex;
  flex-flow: wrap;
  justify-content:space-around;
}

.vert-inner{
  position:relative;
  width:100%;
}

.grey{
	outline:1px solid grey;
}

.hori-wrapper{
  /*水平に並ぶFlexボックス*/
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.hori-inner{
  position:relative;
  height:100%;
}

/*シリアル通信の表示を担当する*/
#serial-list{
  height: 80%;
  width: 85%;
  left: 4%;
  top: 15%;
  position: relative;
}

#refresh-serial{
  height: 2vmin;/* vminとはビューポートの幅と高さのうち、値が小さい方に対する割合　レスポンシブなレイアウトのため*/
  width: 2vmin;
  top: 30%;
  right: 3%;
  position: absolute;
  cursor: pointer;
}
/*操作可能なHTML要素についての表示を担当する*/
.c-button-inner{
	cursor: pointer;
	position: absolute;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	background-color: #202020;
	border-radius: 1vmin;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.control-panel-icon{
  width: 3vmin;
  height: 3vmin;
  position: relative;
}

.control-panel-words{
	position: relative;
	font-size: 1vmin;
}
/*画面に表示するテキストの詳細の設定を担当.*/
.text-display{
  font-family: 'Segment7Standard';
  font-weight: normal;
  font-style: italic;
  font-size:3.75vmin;
  text-align: right;
  padding-top: 0.25vmin;
  cursor: default;
  flex-grow: 1;
  border-right: 1px solid grey;
}
/*自動車の速度メーターのようなメーターの表示を担当　gaugeOptionsのMultiPlierと対応しているので変更の際には注意.(闇)*/
#cadenceGaugeCenter{
  left: calc(50% - 1vmin); /*view-portの長さの小さい方の1%が1vmin. これでレスポンシブにできる*/
  top: calc(60% - 1vmin);
  width: 2vmin;
  height: 2vmin;
}

.servo-gauge-center{
  left: calc(50% - 1.1vmin);
  top: calc(50% - 1.1vmin);
  width: 2.2vmin;
  height: 2.2vmin;
}

.gauge-center{
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #FFFFFF;
  z-index: 17;
}

#cadenceGaugeNeedle{
  transform:rotate(-90deg);
}


.servo-info{
	display: flex;
	justify-content: space-around;
}

.servo-gauge-needle{
  height: 12vmin;
  top: 6vmin;
}

.gauge-needle{
    width: 1vmin;
    background: #800000;
    border-bottom-left-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    position: absolute;
    left: calc(50% - 0.5vmin);
    -webkit-animation:move 5s infinite;
    transform:rotate(0deg);
    transform-origin:bottom;
    z-index:16;
    -webkit-box-shadow: 0px 0px 0.25vmin 0.25vmin rgba(128, 0, 0, .75);
}

.gauge{
  height: 100%;
}

.gauge-outline{
  width:100%;
  height:100%;
  z-index: 15;
  -webkit-user-select: none;
  user-select: none;
}

#cadenceValue{
  margin: auto;
  position: relative;
  top: -6.5vmin;
  width:7.5vmin;
  height: 3.8vmin;
  font-size: 4vmin;
  font-family: 'Segment7Standard';
  font-weight: normal;
  font-style: italic;
  text-align: right;
  padding: 0.5vmin;
  background-color: #00C0C0;
  border-radius: 1vmin;
  -webkit-box-shadow: 0px 0px 0.4vmin 0.4vmin rgba(0, 192, 192, .75);
  cursor: default;
}

.servo-value{
  margin: auto;
  position: absolute;
  top: 17vh;
  left: calc(49% - 4.35vmin);
  width: 8.7vmin;
  height: 2.7vmin;
  font-size: 100%;
  font-family: 'Segment7Standard';
  font-weight: normal;
  font-style: italic;
  text-align: right;
  padding: 0.5vmin;
  background-color: #00C0C0;
  border-radius: 1vmin;
  -webkit-box-shadow: 0px 0px 0.4vmin 0.4vmin rgba(0, 192, 192, .75);
  cursor: default;
}

/*mapboxを用いて表示する地図の表示の記述を担当*/
#map{
  background: #000;
  z-index: 30;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

#propertyList {
  position:absolute;
  bottom:0;
  left:0;
  z-index: 31;
  width: calc(100% - 40px);
  overflow:auto;
  color:#FFF;
  cursor: default;
}

.mapboxgl-control-container {
  z-index: 100;
}
/* 機体の姿勢や速度などの表示を担当*/
.status{
  z-index: 31;
  pointer-events: none;/*表示のみを担当させたく, いちいちイベントを発火させては余計な処理にリソースを回すことになり, 困るので*/
  font-size: 1.5vmin;
}
/*  yaw pitch rollの表示部分を担当*/
#ypr{
  position: absolute;
  top: 10vmin;
  left: 5%;
  width: 90%;
  height: 10vmin;
  z-index: 31;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  pointer-events: none;
}

.ypr{
  position:relative;
  background: #32FC64;
  width: 10vmin;
  height: 10vmin;
  -webkit-border-radius: 5vmin;
  -moz-border-radius: 5vmin;
  border-radius: 5vmin;
  z-index: 32;
  margin-left: auto;
  margin-right: auto;
}

.ypr-plane{
  position: absolute;
  z-index: 33;
  width: 10vmin;
  height: 10vmin;
}

/*今のところは高度とスピードのみだが, 水銀温度計のようなメーターの作成を担当する*/
.meter{
  pointer-events: none;
  position: absolute;
  top: 25%;
  width:5%;
  height: 50%;
  position: absolute;
  overflow:none;
  z-index: 32;
}

.meter-line{
  position: absolute;
  top: 25%;
  width:1%;
  height: 50%;
  z-index:33;
  background-color: white;
  pointer-events: none;
}

.meter-number{
  pointer-events: none;
  position: absolute;
  z-index: 33;
  font-size: 2.5vmin;
}

#altitudeMeter{
  right: 1%;
  border-bottom-left-radius: 100%;
}

#altitudeMeterLine{
  right: 1%;
  border-bottom-left-radius: 100%;
}

#speedMeter{
  left: 1%;
  border-bottom-right-radius: 100%;
}

#speedMeterLine{
  left: 1%;
  border-bottom-right-radius: 100%;
}
/* メーターに使う色 */
.pink{
  color: #ff00ff;
}

.light-blue{
  color: #00ffff;
}

.green{
  color: #99ff66;
}
/*メーター用の矢印*/
.arrow{
  position: absolute;
  bottom: calc(25% - 1vmin);
  width: 0;
  height: 0;
  border-top: 2vmin solid transparent;
  border-bottom: 2vmin solid transparent;
  z-index: 33;
  cursor: default;
}

.arrow-left {
  left: 9%;
  border-right: 2vmin solid;
}

.arrow-right {
  right: 9%;
  border-left: 2vmin solid;
}

.arrow-value{
  position: relative;
  font-size: 3vmin;
  bottom: 1.5vmin;
}

.arrow-value-left{
  left: 3vmin;
}

.arrow-value-right{
  right: 9vmin;
  text-align: right;
}
/*地図をドラッグで持ってくる部分の表示を担当*/
#mapDragDrop{
  display: table;
  width: 100%;
  height: 100%;
}

#mapDragDrop div{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 2.5vmin;
	cursor: pointer;
}

#cover{
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 800;
  display: none;
  background-color: rgba(10, 10, 10, 0.7);
}
/*JSで扱う専用のもの. */
/*あつもり用*/
#secret{
  width: 100%;
  height: 100%;
}
/*横幅と縦幅の設定を担当. こういうのはstyleに直書きでいいと思われるかもしれないが, 
規模が大きくなっていくに連れて何がHTMLファイル側にあって何がcssファイル側にあるか分からなくなり,
HTML側でstyleに直書きするのは, アンチパターンのため.
HTMLは構造のみの記述をすべき.
実務の場では全部外部ファイルともいかなくてユーザーのFV(First View)の部分だけは高速化のためにHTMLに書くことも.
(それでも混乱をきたすのでやっぱりstyle直書きはだめ)*/
.w50{
	width: 50%;
}

.w45{
  width: 45%;
}

.w40{
  width: 40%;
}

.w33{
	width: 33.33%;
}

.w20{
  width: 20%;
}

.w15{
  width: 15%;
}

.w10{
  width: 10%;
}

.h50{
	height: 50%;
}

.h33{
	height: 33.33%;
}
/* 要素の配置を担当する */
.center-object{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.middle-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center-text {
  text-align: center;
}
/*record-directory-display ログの出力先部分の表示を担当*/
.rec-dir-disp{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.rec-dir-disp div{
	max-width: 60%;
	align-items: flex-end;
	text-align: right;
	white-space:nowrap;
	overflow: hidden;
}
/*現在の画面の左下に使っているtoolを表示することを担当. JS側で生成される要素用*/
.tool-viewer-inner {
  outline: 1px groove white;
  height: 100%;
}
/*toolへの表示の際に, 各種Tabにつけられる. JS側で生成される要素用*/
.tab {
  height: 100%;
  cursor: pointer;
  outline: 1px groove white;
  font-size: 1.5vmin;
}

.graph-outline{
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #001717;
  outline: 1px groove white;
}
/*風洞試験関連の表示を担当*/
#tunnelTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tunnelTable td, #tunnelTable th{
  outline: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tunnelTable tr:nth-child(even) {
  background-color: #000011;
}
